@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: #2F80ED; /* Azul profesional */
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.punto {
  font-size: 90px;
  color: #27AE60; /* Verde suave */
}

.btn {
  background: linear-gradient(
    92.23deg,
    #2F80ED 10%,
    #27AE60 50%,
    #56CCF2 90%
  );
  box-shadow: 0px 4px 80px rgba(47, 128, 237, 0.4);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #56CCF2 10%,
    #2F80ED 50%,
    #27AE60 90%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #2F80ED 10%,
    #27AE60 50%,
    #56CCF2 90%
  );
}

/* Estilo para los íconos activos */
.active {
  color: #fff; /* Cambia el color del ícono cuando esté activo */
  background-color: #2F80ED; /* Un color de fondo destacado */
  border-radius: 50%; /* Forma circular */
  box-shadow: 0px 4px 10px rgba(47, 128, 237, 0.5); /* Sombra para resaltar */
}


@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
    background-color: #2D6375; /* Fondo gris oscuro profesional */
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#2F80ED] to-[#27AE60] font-bold font-primary hover:from-[#27AE60] hover:to-[#2F80ED];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
